NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/pawid
JWT_ACCESS_SECRET=super-secret-access-token-key-pawid-2026
JWT_REFRESH_SECRET=super-secret-refresh-token-key-pawid-2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
PUBLIC_APP_URL=https://pawid.org
CLOUDINARY_CLOUD_NAME=demo_cloud
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=secret
